@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

body {
    font-family: 'Caesar Dressing', cursive;
    font-style: italic;
  }

.reset {
  display: flex;
  justify-content: center;
  margin-top: 67px;
}